version: "3"
services:
  mongo:
    image: mongo:3.5
    ports:
      - 27017:27017
    volumes:
      - /opt/mongodocker:/data/db
    network_mode: "host"
    container_name: mongo
    logging:
      driver: none

  nginx:
    image: nginx:1.13.1
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs
    network_mode: "host"
    container_name: nginx

  auth:
    build:
      context: ../
      dockerfile: Dockerfile_Dev
    image: auth
    ports:
      - 4200:4200
    env_file:
      - ./env/dev.env
    environment:
      - NODE_ENV=development
      - AUTH_VERSION=dev
    network_mode: "host"
    volumes:
      - ../:/home/ubuntu
    container_name: auth_backend
    depends_on:
      - mongo
      - nginx
